# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [fastlane]
  pull_request:
    branches: [master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: "2.6"
      - name: Install Fastlane
        run: |
          cd android
          gem update --system
          bundle install

      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"

      - name: build android release
        run: flutter build appbundle --build-number=${{ github.run_number }}
      - run: echo $HOME
      # - name: deploy to internal
      #   run: |
      #     cd android
      #     bundle exec fastlane build_and_deploy_internal
